.container {
    position:absolute;
    width: 10vw;
    height: 10vw;
    background-image: url('/img/backgrounds/video.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    left: -3vw;
    bottom: -3vw;
}

.container img{
    width: 2vw;
    height: 2vw;

    transition: transform 0.2s;
    cursor: pointer;
}

.container img:hover{
    transform: scale(1.3);
}