.container {
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;

    padding-left: clamp(7rem, 10vw, 150px);
    padding-right: clamp(5rem, 7vw, 105px);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

@media (max-width: 770px){
    .container{
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 450px){
    .container{
        justify-content: center;
        align-items: center;
    }
}

