.container {
    margin-top: clamp(1rem, 1.2vw, 18px);
    display: flex;
    gap: clamp(0.7rem, 0.7vw, 10px);
    justify-content: center;
    align-items: center;
    width: 100%;

    a {
        width: 100%;
        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.8);
        }
    }
}

.googleLogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: clamp(3rem, 4vw, 60px);
    background: var(--secondaryColor);
    position: relative;

    img {
        width: clamp(3rem, 4vw, 60px);
        height: clamp(3rem, 4vw, 60px);
    }
}

.facebookLogin {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: clamp(3rem, 4vw, 60px);
    background: var(--secondaryColor);

    img {
        width: clamp(2rem, 3vw, 45px);
        height: clamp(2rem, 3vw, 45px);
        border-radius: 50%;
    }
}

@media (max-width: 450px) {
    .container {
        margin-top: 4rem;

        .googleLogin {
            height: 6rem;
            border-radius: 2rem;

            img {
                width: 5rem;
                height: 5rem;
            }
        }

        .facebookLogin {
            height: 6rem;
            border-radius: 2rem;

            img {
                width: 4rem;
                height: 4rem;
            }
        }
    }
}
