.container {
    width: 80%;
    height: 75vh;
    max-height: 720px;

    margin-top: 5rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas:
        "emergency medicines history"
        "firstAid medicines appointment"
        "firstAid medicines help";
    gap: 1rem;

    .menuItem {
        position: relative;

        color: #fff;
        font-size: 2.5rem;
        font-weight: 500;

        border-radius: 1rem;
        transition: filter 0.2s;
        cursor: pointer;

        overflow: hidden;

        p {
            z-index: 10;
            position: absolute;
            bottom: 1.5rem;
            left: 2rem;
        }

        img {
            position: absolute;
        }

        &:hover {
            filter: brightness(0.5);
        }

        &:nth-child(1) {
            grid-area: emergency;
            background: #57050591;
            img {
                left: 6rem;
                top: -5rem;

                width: 100%;
                filter: drop-shadow(-20px 10px 50px rgba(228, 44, 44, 0.5));
            }
        }

        &:nth-child(2) {
            grid-area: medicines;
            background: #131a5379;

            img {
                width: 40rem;
                bottom: 12rem;
                left: 4rem;
                filter: drop-shadow(-20px 10px 50px rgba(57, 105, 202, 0.651));
            }

            @media (max-width: 1370px) {
                img {
                    width: 30rem;
                }
            }

            @media (max-width: 1250px) {
                img {
                    bottom: 16rem;
                    left: 2rem;
                }
            }
        }

        &:nth-child(3) {
            grid-area: appointment;
            background: #06221998;

            img {
                top: -5rem;
                right: -5rem;
                width: 70%;
                filter: drop-shadow(-20px 1px 50px rgba(44, 198, 198, 0.5));
            }
        }

        &:nth-child(4) {
            grid-area: history;
            background: #6810596c;

            img {
                width: 100%;
                top: -4rem;
                right: -10rem;
                filter: drop-shadow(-20px 10px 50px rgba(213, 30, 198, 0.5));
            }
        }

        &:nth-child(5) {
            grid-area: firstAid;
            background: #3909688e;

            img {
                left: 6rem;
                top: -5rem;
                width: 110%;
                filter: drop-shadow(-20px 10px 50px rgba(127, 76, 210, 0.651));
            }
        }

        &:nth-child(6) {
            grid-area: help;
            background: #44475a4d;

            img {
                top: -5rem;
                right: -5rem;
                width: 70%;
                filter: drop-shadow(-20px 10px 50px rgba(0, 0, 0, 0.651));
            }
        }
    }
}

@media (max-width: 968px) {
    .container {
        margin-top: 1rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 17rem 8.5rem 8.5rem 8rem 8rem;
        grid-template-areas:
            "emergency medicines "
            "firstAid medicines "
            "firstAid medicines"
            "history appointment"
            "help help";

        overflow-y: auto;

        .menuItem {
            font-size: 2.2rem;

            &:nth-child(4) {
                img {
                    width: 70%;
                    right: -5rem;
                }
            }

            &:nth-child(6) {
                img {
                    width: 35%;
                    filter: drop-shadow(-20px 10px 50px rgba(0, 0, 0, 0.651));
                }
            }
        }
    }
}

@media (max-width: 530px) {
    .container {
        .menuItem {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 430px) {
    .container {
        .menuItem {
            &:nth-child(2) {
                img {
                    width: 25rem;
                    left: 1rem;
                }
            }

            &:nth-child(3) {
                img {
                    top: -1rem;
                    right: -2.5rem;
                    width: 55%;
                }
            }

            &:nth-child(4) {
                img {
                    width: 55%;
                    top: -1rem;
                    right: -3rem;
                }
            }

            &:nth-child(6) {
                img {
                    width: 50%;
                }
            }
        }
    }
}
