.container {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    position: absolute;
    top: 1rem;
    border-radius: 2rem;
    z-index: 1000;
    transition: all 0.7s;

    .textProfile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.7s;
        z-index: 1000;

        p {
            font-size: clamp(1rem, 1.3vw, 1.3rem);
            font-weight: 500;
            color: var(--greenBlue);
        }

        h3 {
            font-size: clamp(1.3rem, 1.5vw, 1.5rem);
            font-weight: 700;
            color: #fff;
        }
    }

    img {
        border-radius: 50%;
        object-fit: cover;
        width: clamp(4rem, 5vw, 6rem);
        height: clamp(4rem, 5vw, 6rem);
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.658));
        transition: all 0.7s;
    }

    .comeBackButton {
        display: none;

        position: absolute;
        left: 2rem;
        top: 2rem;

        width: 6rem;
        height: 6rem;

        border: none;
        border-radius: 50%;
        background: none;

        transition: transform 0.2s, filter 0.2s;
        cursor: pointer;
        

        &:hover {
            transform: scale(1.1);
            filter: brightness(0.8);
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .headerMenu {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        margin: 0 auto;
        margin-top: 5rem;
        color: #fff;
        display: none;

        h3 {
            margin-top: 1rem;
            font-size: clamp(1.2rem, 1.3vw, 1.5rem);
            font-weight: 600;
            transition: color 0.2s;
            cursor: pointer;

            &:hover {
                color: var(--greenBlue);
            }
        }

        .themeContainer {
            margin-top: 1rem;

            font-size: clamp(1.2rem, 1.3vw, 1.5rem);
            font-weight: 600;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;

            .toggleThemeButton {
                width: clamp(2rem, 3vw, 45px);
                height: clamp(0.7rem, 1.5vw, 22.5px);
                border-radius: 10px;
                border: 2px solid var(--dark3);
                background: var(--dark3);
                position: relative;

                transition: all 0.3s;

                &:hover {
                    transform: scale(1.03);
                }

                div {
                    position: absolute;
                    top: 0;
                    width: 50%;
                    height: 100%;
                    border-radius: 50%;
                    background: #44475a;
                    transition: all 0.6s;
                }
            }

            .toggleThemeButton[id="active"] {
                border: 2px solid var(--purple);
                background: var(--purple);

                div {
                    right: 0;
                    background: var(--green);
                }
            }
        }

        hr {
            margin-top: 0.3rem;
            width: 100%;
        }

        button[id="logoutButton"] {
            width: 100%;
            margin-top: 2rem;
            border: 0;
            border-radius: 1rem;
            background: var(--purple);
            font-size: clamp(1.2rem, 1.3vw, 1.5rem);
            font-weight: 500;
            color: #fff;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            padding: 1rem;

            transition: filter 0.2s;

            &:hover {
                filter: brightness(0.8);
            }

            img {
                border-radius: 0;
                font-size: 0;
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

@media (max-width: 770px) {
    .container {
        position: absolute;
        top: 0;
        border-radius: 0;
        margin-top: 2rem;

        .textProfile {
            p {
                font-size: 1.5rem;
            }

            h3 {
                font-size: 2rem;
            }
        }

        img {
            width: 6rem;
            height: 6rem;
        }

        .comeBackButton {
            width: 5rem;
            height: 5rem;
        }

        .headerMenu {
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 3rem;
            }

            .themeContainer {
                font-size: 3rem;

                .toggleThemeButton {
                    font-size: 2rem;
                    width: 5rem;
                    height: 3rem;
                }
            }

            hr {
                margin-top: 1rem;
                width: 100%;
            }

            button[id="logoutButton"] {
                font-size: 3rem;
                img {
                    width: 3.5rem;
                    height: 3.5rem;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .container {
        position: absolute;
        top: 0;
        border-radius: 0;

        .textProfile {
            p {
                font-size: 2rem;
            }

            h3 {
                font-size: 2.5rem;
            }
        }

        img {
            width: 7rem;
            height: 7rem;
        }
    }
}
