.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--grayGradient);
    width: clamp(50rem, 60vw, 62rem);
    height: clamp(32rem, 35vw, 40rem);
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
}

.legend {
    font-size: clamp(1.2rem, 1.3vw, 1.4rem);
    font-weight: 700;
    color: var(--purple);
}

.addMedicine {
    width: clamp(30rem, 32.5vw, 35rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hoursContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 1vw;
    width: 100%;
    height: clamp(4rem, 4vw, 5rem);
    background: var(--darkPurple);
    font-size: clamp(2.5rem, 3vw, 3rem);
    font-weight: 600;
    color: #fff;
    margin-bottom: 1.5vw;
}

.hoursContainer div {
    width: 85%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
}

.hoursContainer div::-webkit-scrollbar {
    width: 20px;
    height: 0.5vw;
}

.hoursContainer div::-webkit-scrollbar-track {
    background: var(--purple);
    border-radius: 15px;
}

.hoursContainer div::-webkit-scrollbar-thumb {
    background: var(--greenBlue);
    border-radius: 15px;
}

.hoursContainer div hr {
    width: 2px;
    height: 2.5vw;
    border-left: 1px solid;
    margin-left: 1vw;
    margin-right: 1vw;
}

.hoursContainer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    height: 2.5vw;
    background: var(--purple);
    border: 0;
    border-radius: 50%;
    transition: transform 0.2s, filter 0.2s;
}

.hoursContainer button img {
    width: 50%;
    height: 50%;
}

.hoursContainer button:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}

/* Repeat Medicine in Week */

.repeat {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.repeatCheckbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.repeatCheckbox input {
    all: unset;
    width: clamp(1.5rem, 1.5vw, 1.5rem);
    height: clamp(1.55rem, 1.3vw, 1.5rem);
    background: white;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.548));
    transition: border-radius 0.2s;
}

.repeatCheckbox input {
    color: white;
}

.repeatCheckbox input:after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: url('/img/icons/check.png');
}

.repeatCheckbox input:checked {
    background: var(--purple);
    border-radius: 4px;
}

/* DaysWeek Buttons */

.daysWeek {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.2vw;
}

.daysWeek button {
    background: var(--purple);
    width: clamp(2.4rem, 3vw, 2.5rem);
    height: clamp(2.4rem, 3vw, 2.5rem);
    border: 0;
    border-radius: 50%;
    font-size: clamp(1.3rem, 1.2vw, 1.3rem);
    font-weight: 600;
    color: #fff;

    transition: transform 0.2s, filter 0.2s;
}

.daysWeek button:hover{
    transform: scale(1.1);
    filter: brightness(0.8);
}

.daysWeek button:nth-child(1) {
    background: none;
    color: var(--purple)
}

.daysWeek button:nth-child(7) {
    background: none;
    color: var(--purple)
}

/* data especifica */

.specificDate {
    margin-top: 1.3vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1vw;
}

.specificDate button {
    width: 3vw;
    height: 1.5vw;
    border-radius: 10px;
    border: 2px solid var(--darkPurple);
    background: #A07FFD;
    position: relative;
}

.specificDate button div {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background: var(--greenBlue);
}

.date {
    margin-top: 0.5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.3vw;
}

.date input {
    width: 100%;
    height: clamp(2.4rem, 2.5vw, 2.6rem);
    border: 0;
    border-radius: 10px;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: (1.2rem, 1.3vw, 1.3rem);
    font-weight: 600;
    color: var(--placeholder);
    cursor: pointer;
}

.date input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 2px solid var(--purple);
}

.addMedicine input[type='text'] {
    width: 100%;
    height: clamp(2.4rem, 2.5vw, 2.6rem);
    border: 0;
    border-radius: 10px;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: (1.2rem, 1.3vw, 1.3rem);
    font-weight: 500;
    color: #000;
    margin-top: 0.7vw;
}

.addMedicine input::placeholder {
    color: var(--placeholder);
    font-size: (1.2rem, 1.3vw, 1.3rem);
    font-weight: 600;
}

.addMedicine input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 2px solid var(--purple);
}

.submitButton {
    margin-top: 1.5vw;
    width: 100%;
    height: clamp(3.3rem, 3.5vw, 3.6rem);
    border: 0;
    border-radius: 15px;
    background: var(--darkPurple);
    font-size: (1.2rem, 1.3vw, 1.3rem);
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    transition: filter 0.2s, transform 0.2s;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
}

.submitButton img {
    width: 1.5vw;
    height: 1.5vw;
}

.submitButton:hover{
    transform: scale(1.03);
    filter: brightness(0.8);
}