.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--grayGradient);
    width: clamp(35rem, 50vw, 930px);
    height: clamp(20rem, 35vw, 600px);
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
}

.legend {
    font-size: clamp(1rem, 1.3vw, 1.4rem);
    font-weight: 700;
    color: var(--purple);
}

.addMedicine {
    width: clamp(30rem, 32.5vw, 525px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hoursContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: clamp(0.6rem, 1vw, 15px);
    width: 100%;
    height: clamp(4rem, 4vw, 75px);
    background: var(--darkPurple);
    margin-bottom: clamp(1rem, 1.5vw, 22.5px);
    position: relative;
}

.hoursContainer div {
    width: 85%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    color: #fff;
}

.hoursContainer div::-webkit-scrollbar {
    width: 20px;
    height: clamp(0.4rem, 0.5vw, 7.5px);
}

.hoursContainer div::-webkit-scrollbar-track {
    background: var(--purple);
    border-radius: 15px;
}

.hoursContainer div::-webkit-scrollbar-thumb {
    background: var(--greenBlue);
    border-radius: 15px;
}

.hoursContainer div input {
    cursor: pointer;
    border: none;
    font-size: clamp(2.5rem, 3vw, 3rem);
    font-weight: 600;
    color: #fff;
    background: none;
    min-width: clamp(7.5rem, 8vw, 150px);
}

.hoursContainer div input::-webkit-calendar-picker-indicator {
    display: none;
}

.hoursContainer div hr {
    width: 2px;
    height: clamp(1.7rem, 2.5vw, 22.5px);
    border-left: 1px solid;
    margin-left: 1rem;
    margin-right: 1rem;
}

.hoursContainer button {
    position: absolute;
    right: clamp(0.5rem, 1vw, 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(1.7rem, 2.5vw, 37.5px);
    height: clamp(1.7rem, 2.5vw, 37.5px);
    background: var(--purple);
    border: 0;
    border-radius: 50%;
    transition: transform 0.2s, filter 0.2s;
}

.hoursContainer button img {
    width: 50%;
    height: 50%;
}

.hoursContainer button:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}

/* data especifica */

.specificDate {
    margin-top: clamp(0.6rem, 1.3vw, 24px);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: clamp(0.6rem, 1vw, 15px);
}

.specificDate button {
    width: clamp(2rem, 3vw, 45px);
    height: clamp(0.7rem, 1.5vw, 22.5px);
    border-radius: 10px;
    border: 2px solid var(--darkPurple);
    background: #A07FFD;
    position: relative;
}

.specificDate button div {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background: var(--greenBlue);
}

.date {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0.6rem, 1.3vw, 25px);
}

.date input {
    width: 100%;
    height: clamp(2.4rem, 2.5vw, 40px);
    border: 0;
    border-radius: 10px;
    padding-left: clamp(0.4rem, 1vw, 15px);
    padding-right: clamp(0.4rem, 1vw, 15px);
    font-size: (1.2rem, 1.3vw, 1.3rem);
    font-weight: 600;
    color: var(--placeholder);
    cursor: pointer;
}

.date input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 2px solid var(--purple);
}

.addMedicine input[type='text'] {
    width: 100%;
    height: clamp(2.4rem, 2.5vw, 2.6rem);
    border: 0;
    border-radius: 10px;
    padding-left: clamp(0.4rem, 1vw, 15px);
    padding-right: clamp(0.4rem, 1vw, 15px);
    font-size: (1.2rem, 1.3vw, 1.3rem);
    font-weight: 500;
    color: #000;
    margin-top: clamp(0.4rem, 0.7vw, 10px);
}

.addMedicine input::placeholder {
    color: var(--placeholder);
    font-size: (1.2rem, 1.3vw, 1.3rem);
    font-weight: 600;
}

.addMedicine input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 2px solid var(--purple);
}

.submitButton {
    margin-top:clamp(0.7rem, 1.5vw, 22.5px);
    width: 100%;
    height: clamp(3.3rem, 3.5vw, 3.6rem);
    border: 0;
    border-radius: 15px;
    background: var(--darkPurple);
    font-size: (1.2rem, 1.3vw, 1.3rem);
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(0.4rem, 1vw, 15px);
    transition: filter 0.2s, transform 0.2s;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
}

.submitButton img {
    width: clamp(0.7rem, 1.5vw, 22.5px);
    height: clamp(0.7rem, 1.5vw, 22.5px);
}

.submitButton:hover {
    transform: scale(1.03);
    filter: brightness(0.8);
}