.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* title and video */

.header {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url('/img/backgrounds/background.png');
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* search hospital in map and form */

.main {
    margin-top: 10vw;
    width: 100%;
    height: 60vw;
    background: url('/img/backgrounds/background2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110% 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hospitalSearch {
    position: absolute;
    top: clamp(-2rem, -4vw, -5rem);
    width: clamp(60rem, 80vw, 99rem);
    height: clamp(25rem, 35vw, 44rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.mapContainer img {
    width: 37vw;
    height: 38vw;
}

.finalImage{
    margin-top: 25vw;
    width: 100%;
    height: 60vw;
    background: url('/img/backgrounds/blueBackground.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 130% 110%;
}