.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white1);
}

/* title and video */
.header {
    width: 100%;
    max-width: 1920px;
    height: clamp(20rem, 100vh, 1080px);
    margin: 0;
    padding: 0;
    background: url("/img/backgrounds/whiteTheme1.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* search hospital in map and form */
.main {
    margin-top: clamp(7rem, 12vw, 200px);
    width: 100%;
    max-width: 1920px;
    height: clamp(40rem, 55vw, 1080px);
    background: url("/img/backgrounds/background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110% 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hospitalSearch {
    position: absolute;
    top: clamp(-3rem, -4vw, -5rem);
    width: clamp(57rem, 70vw, 1485px);
    height: clamp(25rem, 35vw, 660px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: clamp(2rem, 3vw, 45px);
}

.mapContainer img {
    width: clamp(30rem, 37vw, 700px);
    height: clamp(31rem, 38vw, 720px);
}

.finalImage {
    margin-top: clamp(20rem, 25vw, 375px);
    width: 100%;
    max-width: 1920px;
    height: clamp(40rem, 60vw, 900px);
    background: url("/img/backgrounds/blueBackground.png");
    filter: drop-shadow(0px -50px 100px #14D8E4);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 130% 110%;
    z-index: 0;
}
