.rowContainer {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Legenda principal */

.legend {
    width: 100%;

    h1 {
        font-size: clamp(2rem, 3vw, 3.5rem);
        font-weight: 700;
    }

    p {
        color: var(--dark3);
        margin-top: 1vh;
        font-size: clamp(1rem, 1.1vw, 1.3rem);
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        a {
            color: var(--purple);
            transition: color 0.2s;

            &:hover {
                color: var(--greenBlue);
            }
        }
    }
}

/* FORMULÁRIO */
.form {
    width: clamp(27rem, 30vw, 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: clamp(0.3rem, 0.7vw, 1.3rem);
    justify-content: center;
    align-items: center;
    padding: 3vw;

    h1 {
        color: var(--purple);
    }

    button {
        width: 100%;
        height: clamp(1.5rem, 4vw, 4rem);
        margin-top: clamp(0.5rem, 1.5vh, 2rem);
        background-image: var(--purpleToGreenBlue);
        font-size: clamp(1.2rem, 1.1vw, 22px);
        font-weight: 700;
        border: none;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        transition: filter 0.2s;
        box-shadow: 0px 25px 50px rgba(107, 66, 225, 0.7);

        &:hover {
            filter: brightness(0.8);
        }

        img {
            width: 1.7rem;
            height: 1.7rem;
        }
    }
}

.inputContainer {
    width: 100%;
    position: relative;

    img {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 1.5rem;
        top: clamp(0.7rem, 0.8vw, 1rem);
    }

    input {
        background: var(--secondaryColor);
        border-radius: 1rem;
        width: 100%;
        height: clamp(50px, 7vh, 85px);
        padding-left: 4.5rem;
        padding-right: 2rem;
        border: 0;
        border-bottom: solid 3px var(--purple);
        font-size: clamp(1.1rem, 1.1vw, 1.3rem);
        color: var(--input);

        &:focus {
            box-shadow: 0 0 0 0;
            outline: 0;
        }
    }
}

/* FORGOT PASSWORD */

.forgotPassword {
    width: 90%;
    text-align: right;

    a {
        font-size: clamp(1.1rem, 1.1vw, 1.3rem);
        font-weight: 500;
        color: var(--purple);
        transition: color 0.2s;

        &:hover {
            color: var(--greenBlue);
        }
    }
}

.imageProfile {
    margin-top: clamp(0.5rem, 0.8vw, 1rem);
    width: clamp(8rem, 13vw, 16.5rem);
    height: clamp(8rem, 13vw, 16.5rem);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        img {
            filter: brightness(0.6);
        }

        button {
            display: block;
        }
    }

    input[type="file"] {
        display: none;
    }

    img {
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: filter 0.3s;
    }

    button {
        display: none;
        width: 80%;
        position: absolute;
        background: none;
        border: 2px solid #fff;
        color: #fff;
        font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    }
}
