.container {
    margin-top: clamp(3rem, 2vw, 4rem);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--grayGradient);
    width: clamp(60rem, 75vw, 90rem);
    height: clamp(23rem, 33vw, 40rem);
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
}

.emergencyContainer {
    width: 90%;
    display: flex;
    align-items: center;
    gap: clamp(0.8rem, 1vw, 1.5rem);
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 4vw;
}

.emergencyItem {
    min-width: clamp(17rem, 20vw, 25rem);
    height: clamp(15rem, 25vw, 30rem);
    background: var(--verticalGradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #fff;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transition: transform 0.2s, filter 0.2s;
    position: relative;
    margin-bottom: 2vw;
}

.emergencyItem h3 {
    position: absolute;
    top: 1.2vw;
    font-size: clamp(1rem, 1.5vw, 1.6rem);
    font-weight: 700;
}

.emergencyItem a {
    position: absolute;
    bottom: 1vw;
}

.seeMoreBTN{
    width: 1.5vw;
    height: 1vw;
    transition: scale 0.4s;
}

.seeMoreBTN:hover {
    transform: scale(1.1);
}

.noMedicines {
    margin-bottom: 1vw;
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.noMedicines h2 {
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.noMedicineImage{
    width: 70%;
    height: 70%;
    margin-bottom: 1vw;
}

.noMedicines:hover{
    transform: scale(1.05);
}

.medicines {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vw;
    margin-top: 1rem;
    width: 90%;
    height: clamp(10rem, 18vw, 30rem);
    overflow-y: auto;
}

.medicines::-webkit-scrollbar {
    display: none;
}

.medicines div {
    width: 100%;
    height: 3.7vw;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1.5vw;
    background: var(--darkPurple);
    font-size: clamp(1rem, 1.5vw, 1.6rem);
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
    transition: filter 0.2s;
    cursor: pointer;
}

.medicines div:hover {
    filter: brightness(0.8);
}

.medicines hr {
    height: 2.5vw;
    border-left: 1px solid;
    margin-left: 1vw;
    margin-right: 1vw;
}

.medicines div p~p {
    overflow: hidden;
}

/* width */

.emergencyContainer::-webkit-scrollbar {
    width: 20px;
    height: 1vw;
}

/* Track */

.emergencyContainer::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 15px;
}

/* Handle */

.emergencyContainer::-webkit-scrollbar-thumb {
    background: var(--purpleToGreenBlue);
    border-radius: 15px;
}

/* Apenas para o desgin */

.medicines div:nth-child(2) {
    background: var(--greenBlue);
}

.medicines div:nth-child(3) {
    background: #F306EA;
}

.medicines div:nth-child(4) {
    background: #2ECD5B;
}

.medicines div:nth-child(5) {
    background: #F37806;
}