.rowContainer {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Legenda principal */

.legend {
    width: 100%;
}

.legend h1 {
    font-size: clamp(2rem, 3vw, 3.5rem);
    font-weight: 700;
}

.legend p {
    color: var(--purple);
    margin-top: 1vh;
    font-size: clamp(1rem, 1.1vw, 1.3rem);
    font-weight: 500;
}

.legend p a {
    color: var(--greenBlue);
    transition: filter 0.2s;
}

.legend p a:hover {
    filter: brightness(0.7);
}

/* FORMULÁRIO */

.form {
    width: clamp(27rem, 30vw, 37rem);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: clamp(0.4rem, 0.8vw, 1.3rem);
    justify-content: center;
    align-items: center;
    padding: 3vw;
}

.form h1 {
    color: var(--purple);
}

.inputContainer {
    width: 100%;
    position: relative;
}

.inputContainer img {
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 1.5rem;
    top: 1rem;
}

.inputContainer input {
    width: 100%;
    height: clamp(60px, 7vh, 85px);
    padding-left: 4.5rem;
    padding-right: 2rem;
    border: 0;
    border-bottom: solid 3px var(--purple);
    font-size: clamp(1.1rem, 1.1vw, 1.3rem);
    color: rgb(0, 0, 0);
}

.inputContainer input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.form button {
    width: 100%;
    height: clamp(1.5rem, 4vw, 4rem);
    margin-top: clamp(1rem, 2vh, 2rem);
    background-image: var(--purpleToGreenBlue);
    font-size: clamp(1.2rem, 1.1vw, 22px);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    transition: filter, border-radius, 0.2s;
}

.form button img {
    width: 1.7rem;
    height: 1.7rem;
}

.form button:hover {
    filter: brightness(0.8);
    border-radius: 0px;
}

/* FORGOT PASSWORD */

.forgotPassword {
    width: 90%;
    text-align: right;
}

.forgotPassword a {
    font-size: clamp(1.1rem, 1.1vw, 1.3rem);
    font-weight: 500;
    color: var(--purple);
    transition: color 0.2s;
}

.forgotPassword a:hover {
    color: var(--greenBlue);
}