.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: url("/img/backgrounds/whiteTheme.png") no-repeat center center fixed;

    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    .banner {
        z-index: 2;
        width: 50%;
        height: 100vh;
        background: var(--darkLinear);
        border-radius: 0 2rem 2rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        .backgroundImage {
            border-radius: 0 2rem 2rem 0;
            position: absolute;
            z-index: 1;
            width: 50%;
            height: 100%;
            background: url("/img/backgrounds/darkBackground.png") no-repeat center center fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }

        p {
            z-index: 5;
            width: 80%;
            text-align: center;
            font-size: clamp(1.2rem, 1.7vw, 2rem);
            font-weight: 400;
            color: #fff;
            margin-bottom: 2rem;
        }

        img {
            z-index: 3;
            width: 60%;
            height: 60%;
            margin-bottom: clamp(1.5rem, 1.7vw, 2rem);
        }
    }

    .informations {
        z-index: 2;
        width: 50%;
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 3rem;

        form {
            margin-top: clamp(1rem, 2vw, 30px);
            font-size: clamp(1.3rem, 2vw, 2rem);
            font-weight: 600;
            color: var(--purple);

            &:first-child {
                margin-bottom: clamp(1rem, 2vw, 30px);
            }

            input[type="text"] {
                background: var(--white2);
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
                width: 100%;
                height: clamp(2.2rem, 3vw, 50px);
                border: 0;
                border-radius: 10px;
                padding-left: clamp(1.3rem, 1.7vw, 2rem);
                padding-right: clamp(1.3rem, 1.7vw, 2rem);
                font-size: clamp(1rem, 1.3vw, 1.5rem);

                &::placeholder {
                    font-weight: 500;
                    color: var(--placeholder);
                }
            }

            h4 {
                margin-bottom: 0.2rem;
                margin-top: clamp(1rem, 1.6vw, 2rem);
            }

            .adressAndNumber {
                display: grid;
                grid-template-areas: "long long" "short short";
                grid-template-columns: 1fr 1fr;
                gap: clamp(0.4rem, 0.8vw, 12px);

                input[type="text"]:first-child {
                    grid-area: long;
                }
            }

            .PersonalInformation {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: clamp(0.4rem, 0.8vw, 12px);
            }

            textarea {
                background: #c6c6d262;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
                margin-top: 1rem;
                width: 100%;
                resize: none;
                height: clamp(7rem, 10vw, 11rem);
                border: 0;
                border-radius: 15px;
                padding: clamp(0.5rem, 1vw, 15px);
                font-size: clamp(1rem, 1.2vw, 1.5rem);
                font-weight: 500;

                &::placeholder {
                    color: var(--placeholder);
                }
            }

            .checkbox {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: clamp(0.5rem, 1vw, 15px);

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: clamp(1rem, 1.2vw, 1.5rem);
                    font-weight: 600;
                    color: var(--purple);
                }

                div input {
                    all: unset;
                    width: 1rem;
                    height: 1rem;
                    padding: 0.4rem;
                    background: #fff;
                    border: 1px solid var(--darkPurple);
                    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
                    border-radius: 0.3rem;

                    &:after {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: translate(10%, -15%);
                        content: url("/img/icons/check.png");
                    }

                    &:checked {
                        background: var(--darkPurple);
                        border-radius: 4px;
                    }
                }
            }

            button {
                margin-top: clamp(1.2rem, 1.5vw, 2rem);
                width: 100%;
                height: clamp(3rem, 3.7vw, 4rem);

                border: 0;
                border-radius: 1rem;

                background: var(--purpleToGreenBlue);
                box-shadow: 10px 10px 50px #6b42e1;
                font-size: clamp(1rem, 1.2vw, 1.3rem);
                font-weight: 500;
                color: #fff;

                transition: filter 0.2s;

                &:hover {
                    filter: brightness(0.7);
                }
            }
        }
    }
}
