@keyframes up{
    from{
        /* opacity: 0; */
        transform: translateY(15rem);
    }

    to{
        /* opacity: 1; */
        transform: translateY(0)
    }
}

.up{
    animation-name: up;
    animation-duration: 600ms;
    animation-fill-mode: backwards;
}

@keyframes upSlow{
    from{
        opacity: 0;
        transform: translateY(15rem);
        transform: translateX(0);

    }

    to{
        opacity: 1;
        transform: translateY(0);
        transform: translateX(0);
    }
}

.upSlow{
    animation-name: up;
    animation-duration: 800ms;
    animation-fill-mode: backwards;
}

@keyframes upMoreSlow{
    from{
        opacity: 0;
        transform: translateY(15rem);
    }

    to{
        opacity: 1;
        transform: translateY(0)
    }
}

.upMoreSlow{
    animation-name: up;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}