* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purpleToGreenBlue: linear-gradient(89.89deg, #6B42E1 20.24%, rgba(20, 216, 228, 0.79) 97.14%);
  --google:linear-gradient(90deg, #E3E3E3 5.22%, #FBFBFB 100%);
  --facebook: linear-gradient(90deg, #4267B2 32.03%, rgba(107, 147, 226, 0.75) 100%);
  --red: #E83F5B;
  --greenBlue: #14D8E4;
  --purple: #6B42E1;
  --grayGradient: linear-gradient(180deg, rgba(229, 229, 229, 0.31) 0%, #FFFFFF 100%);
  --darkPurple: #3B1F8D;
  /* --purple-dark: #293078;
  --deep-purple: #1C225C;
  --black-purple:  #111542; */
}

@media(max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
      font-size: 87.5%;
  }
}

body {
  /* background-image: url('../public/img/background2.jpg');
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #fff; */
  
}

body, input, textarea, button {
  font: 400 1rem 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.containerBackground{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  background: url('/img/backgrounds/background.png') no-repeat center center fixed;;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}
