.rowContainer {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

/* Legenda principal */

.legend {
    width: 100%;

    h1 {
        font-size: clamp(2rem, 3vw, 3.5rem);
        font-weight: 700;
    }

    p {
        color: var(--dark3);
        margin-top: 1vh;
        font-size: 1.5rem;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        a {
            
            color: var(--purple);
            transition: color 0.2s;

            &:hover {
                color: var(--greenBlue);
            }
        }
    }
}

/* FORMULÁRIO */
.form {
    width: clamp(30rem, 40vw, 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: clamp(0.3rem, 0.7vw, 1.3rem);
    justify-content: center;
    align-items: center;
    padding: 3vw;

    h1 {
        color: var(--purple);
    }

    button {
        width: 100%;
        height: 4rem;
        margin-top: clamp(0.5rem, 1.5vh, 2rem);
        background-image: var(--purpleToGreenBlue);
        font-size: 1.6rem;
        font-weight: 700;
        border: none;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        transition: filter 0.2s;
        box-shadow: 0px 25px 50px rgba(107, 66, 225, 0.7);

        &:hover {
            filter: brightness(0.8);
        }

        img {
            width: 1.7rem;
            height: 1.7rem;
        }
    }
}

.inputContainer {
    width: 100%;
    position: relative;

    img {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 1.5rem;
        top: clamp(0.7rem, 0.8vw, 1rem);
    }

    input {
        background: var(--secondaryColor);
        border-radius: 1rem;
        width: 100%;
        height: clamp(50px, 7vh, 85px);
        padding-left: 4.5rem;
        padding-right: 2rem;
        border: 0;
        border-bottom: solid 3px var(--purple);
        font-size: 1.4rem;
        color: var(--input);

        &::placeholder{
            color: var(--placeholder);
        }

        &:focus {
            box-shadow: 0 0 0 0;
            outline: 0;
        }
    }
}

/* FORGOT PASSWORD */

.forgotPassword {
    width: 90%;
    text-align: right;

    a {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--purple);
        transition: color 0.2s;

        &:hover {
            color: var(--greenBlue);
        }
    }
}

.imageProfile {
    margin-top: clamp(0.5rem, 0.8vw, 1rem);
    width: clamp(8rem, 13vw, 16.5rem);
    height: clamp(8rem, 13vw, 16.5rem);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        img {
            filter: brightness(0.6);
        }

        button {
            display: block;
        }
    }

    input[type="file"] {
        display: none;
    }

    img {
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: filter 0.3s;
    }

    button {
        display: none;
        width: 80%;
        position: absolute;
        background: none;
        border: 2px solid #fff;
        color: #fff;
        font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    }
}

@media (max-width: 450px) {
    .rowContainer {
        align-items: center;
        justify-content: center;

        .legend {
            text-align: center;

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 2rem;
            }
        }

        .form {
            width: 90%;
            gap: 1.5rem;

            button {
                height: 6rem;
                font-size: 2rem;
                border-radius: 1rem;

                img {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
        }

        .inputContainer {
            width: 100%;
            position: relative;

            img {
                width: 3rem;
                height: 3rem;
                position: absolute;
                left: 1.5rem;
                top: 1.5rem;
            }

            input {
                font-size: 2.2rem;
                padding-left: 5.5rem;
                border-radius: 2rem;
            }
        }

        .forgotPassword {
            a {
                font-size: 2rem;
            }
        }

        .imageProfile {
            margin-top: 4rem;
            margin-bottom: 2rem;
            width: 15rem;
            height: 15rem;

            button {
                font-size: 2rem;
            }
        }
    }
}
