#errorNotification {
    background: var(--red);
    font-size: 1.5rem;
}

#sucessNotification {
    background: var(--green);
    font-size: 1.5rem; 
}

#warningNotification{
    background: var(--purple);
    font-size: 1.5rem;
}

@media (max-width: 450px){
    #errorNotification {
        font-size: 2.2rem;
    }
    
    #sucessNotification {
        font-size: 2.2rem; 
    }
    
    #warningNotification{
        font-size: 2.2rem;
    }
}

