.container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/img/backgrounds/whiteTheme.png") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .banner {
        z-index: 2;
        width: 50%;
        height: 100vh;
        background: var(--darkLinear);
        border-radius: 0 2rem 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .backgroundImage {
            border-radius: 0 2rem 2rem 0;
            position: absolute;
            z-index: 1;
            width: 50%;
            height: 100%;
            background: url("/img/backgrounds/darkBackground.png") no-repeat center center fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
        p {
            z-index: 5;
            width: 80%;
            text-align: center;
            font-size: clamp(1.2rem, 1.7vw, 2rem);
            font-weight: 400;
            color: #fff;
            margin-bottom: 3rem;
        }
        img {
            z-index: 3;
            width: 75%;
            height: 60%;
        }
    }
    .informations {
        z-index: 2;
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        form {
            button {
                color: #fff !important;
            }
        }
    }
}

.container[id="dark"] {
    background: url("/img/backgrounds/darkTheme.png") no-repeat center center fixed;
}

@media (max-width: 1250px){
    .container{
        .banner{
            img{
                width: 60rem;
            }
        }
    }
}

@media (max-width: 900px) {
    .container {
        .banner {
            display: none;
        }

        .informations {
            width: 100%;
            form {
                width: 100%;
                gap: 1.5rem;
                div[id='imageProfileContainer'] {
                    margin-bottom: 7rem;
                    img[id="imageSRC"] {
                        width: 20rem;
                        height: 20rem;
                    }
                    button {
                        width: 17rem;
                    }
                }
                img {
                    width: 4rem;
                    height: 4rem;
                }
                input {
                    font-size: 2.2rem;
                    padding-left: 8rem;
                    border-radius: 2rem;
                }
            }
            button {
                height: 7rem;
                font-size: 2rem;
            }
        }
    }
}
