.container {
    width: 100vw;
    height: 100vh;
    position: relative;

    div[class="mapboxgl-popup-content"] {
        z-index: 100;
        padding: 1rem 2.5rem;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

        div[id="popup"] {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            font-family: "Montserrat";
            color: var(--darkPurple);
            font-size: 1.5rem;

            p:first-child{
                font-weight: 700;
            }

            p:last-child{
                color: var(--green);
                font-weight: 500;
            }
        }

        button[class="mapboxgl-popup-close-button"] {
            color: var(--darkPurple);
            font-size: 2rem;
            font-weight: 700;
            
            position: absolute;
            top: 0;
            right: 0.5rem;

            transition: transform 0.2s;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    div[class="mapboxgl-marker mapboxgl-marker-anchor-center"] {
        width: 3rem;
        height: 3rem;
        background: url("/img/icons/hospital.png") no-repeat center center;
        background-size: 100% 100%;

        svg {
            display: none;
        }
    }
}
